body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    cursor: url(/css/cur/default.cur), default;
}

div {
    color: darkred;
}

/*.cycle {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #CD5C5CAA;*/
/*    transform: scale(0.95);*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 0 20px indianred;*/
/*}*/

a:hover,
button:hover,
select:hover,
.btn {
    cursor: url(/css/cur/pointer.cur), pointer;
}

.middle {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -1.5rem;
    text-align: center;
    vertical-align: middle;
}

@keyframes showItem {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hideItem {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes clickItem {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

/*按钮样式*/
.btn {
    background-color: rgba(205, 92, 92, 0.5);
    color: darkred;
    text-align: center;
    transition: .5s;
    box-shadow: 0 0 1rem rgba(205, 92, 92, 1);
    border-radius: .5rem;
}

.btn:hover {
    background-color: LightCoral;
    transition: .5s;
    box-shadow: 0 0 1rem darkred;
}

.btn:active {
    /*background-color: white;*/
    /*transition: .5s;*/
}

/*输入框样式*/
input {
    color: white;
    cursor: url(/css/cur/default.cur), default;
    background-color: RosyBrown;
    border: 0;
    font-size: large;
}

input:focus {
    font-size: large;
    outline: white 0.15rem solid;
}

/*下拉框样式*/
select {
    height: 1.8rem;
    color: white;
    font-size: large;
    background-color: RosyBrown;
    border: 0;
    width: 8rem;
}

select:focus {
    outline: 0;
}

/* DarkSalmon */
table {
    /*border-bottom: 2px solid #FF8888;*/
}

table, tr, td {
    font-size: medium;
    /*text-align: center;*/
}

tr {
    height: 2rem;
    font-size: 1.5rem;
}

tr:nth-child(odd) {
    background-color: #FFCCCC;
}

tr:nth-child(even) {
    background-color: #ffEEEE;
}

tr:hover {
    background-color: #FF9999;
}

/*tr:first-child:hover {*/
/*    background-color: #FF8888;*/
/*}*/

td {
    padding: 0 1rem;
    border: 0;
    margin: 0;
}

