/**
 * @author 朴朴朴 https://github.com/PiaoZhenJia
 */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15vh;
}

#outSide {
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
    box-shadow: 0 0 1rem white;
}