/**
 * @author 朴朴朴 https://github.com/PiaoZhenJia
 */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#outSideDiv {
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1rem white;
    border-radius: 1rem;
}

#insertNew,#updateNew {
    margin-top: 1rem;
    margin-left: 1rem;
}

.uriBtn {
    margin-bottom: 1rem;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

#uriLine {
    display: flex;
    /*flex-direction: row;*/
    /*height: 1.5rem;*/
    margin: auto auto auto 0;
    flex-wrap: wrap;
}

.trDiv {
    display: flex;
}

#tableDiv {
    margin: 1rem;
    overflow: auto;
}

.trDiv:nth-child(odd) {
    background-color: #FFCCCC;
    transition: .5s;
}

.trDiv:nth-child(even) {
    background-color: #ffEEEE;
    transition: .5s;
}

.trDiv:hover {
    background-color: #FF9999;
    transition: .5s;
}

.tdLeftDiv {
    width: calc(100% - 6rem);
}

.tdRightDiv {
    width: 8.5rem;
}

.tdRightDiv > img:hover {
    background-color: #ffEEEE;
    transition: .5s;
}

#tableDiv img {
    margin-top: 2px;
}

.tdRightDiv > img {
    border-radius: .2rem;
    margin-right: 0.5rem;
    float: right;
    cursor: url(/css/cur/pointer.cur), pointer;
}

/**
 * @author 朴朴朴 https://github.com/PiaoZhenJia
 */
span {
    float: right;
    margin-right: 1rem;
}

#_inner_page_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 1rem white inset;
}

#needLoad {
    position: relative;
    top: -15vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem white;
}

.preview {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}