body{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

#tableDiv{
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 0 1rem white;
    border-radius: 1rem;
}

#toDesktop{
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    /*防止元素被压缩*/
    flex-shrink: 0;
}

table{
    margin: 1rem auto;
    width: inherit;
    height: inherit;
}

table tbody {
    display: block;
    overflow-y: auto;
    height: inherit;
}

img{
    width: 1.5rem;
    height: 1.5rem;
}
#uriLine{
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    margin: auto auto auto 0;
    flex-wrap: wrap;
}

tr>td:nth-child(1){
    width: calc(100% - 10rem);
}
tr>td:nth-child(2){
    width: 10rem;
}