body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#outSideDiv {
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1rem white;
    border-radius: 1rem;
}

#insertNew {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    /*防止元素被压缩*/
    flex-shrink: 0;
}

.uriBtn{
    margin-bottom: 1rem;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

#uriLine {
    display: flex;
    /*flex-direction: row;*/
    /*height: 1.5rem;*/
    margin: auto auto auto 0;
    flex-wrap: wrap;
}

.trDiv {
    display: flex;
}
#tableDiv{
    margin: 1rem;

    overflow: auto;
}

#tableDiv > .trDiv:nth-child(odd) {
    background-color: #FFCCCC;
}

#tableDiv > .trDiv:nth-child(even) {
    background-color: #ffEEEE;
}

.trDiv > .tdLeftDiv:nth-child(1) {
    width: calc(100% - 10rem);
}

.trDiv > .tdLeftDiv:nth-child(2) {
    width: 10rem;
}