/**
 * @author 朴朴朴 https://github.com/PiaoZhenJia
 */

#outSide {
    height: calc(100% - 4rem);
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 1rem white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

#outputImg {
    width: auto;
    height: auto;
    max-width: 100%;
    margin-top: 0.5rem;
}

#changeBtn {
    margin-top: 0.5rem;
}

#inputArea {
    width: 100%;
    height: 3rem;
    resize: none;
}